/* Styles for Stays Type Filter */
.radio-list{
    margin-left: 0px;
    padding: 2px 2px;
}
.radio-item{
    list-style: none;
    width: 60px;
    margin-left: 0%;
    padding: 3%;
    color: #2f2fdf;
}
.radio-item [type="radio"]{
    display: none;
}

.radio-item label{
    padding: 4px 2px;
    color: aliceblue;
    background: #8c8caa;
    border:2px solid rgba(95, 4, 4, 0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    width: 150px;
    padding-left: 10px;
    margin: 6px -8px;
    white-space: nowrap;
    position: relative;
}
.radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #afade7;
    left: 20px;
    top: calc(50% - 10px);
}
.radio-item label:before{
    background: #5c0207;
    height: 14px;
    width: 14px;
    left: 23.5px;
    top: calc(50% - 7px);
    transform: scale(5);
    transition: .2s ease-in-out 0s;
    opacity:0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color: hsl(352, 95%, 22%);
    background-color: rgb(55, 83, 56);
}

.radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Responsive */
@media only screen and (max-width: 994px) {
    .radio-item label{
        padding: 4px 2px;
        color: aliceblue;
        background: #8c8caa;
        border:2px solid rgba(95, 4, 4, 0.1);
        border-radius: 6px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        width: 140px;
        padding-left: 10px;
        margin: 6px 0px;
        white-space: nowrap;
        position: relative;
    }
  
  }