main {
    display: flex;
    justify-content: space-around;

    box-shadow: 0px 3px 1px 0px #110601f7;

  }
  section {
    border-left: 2px solid grey;
  }

  #image{
    padding-top: 0px;
    width: 10rem;
  }

  /* Style for Top Loaction */

  .location{
    display: flex;
    justify-content: space-around;
    margin: -20px;
    margin-right: -160px;
  }

.top{
  width: 30%;
  margin-top: 35px;
  padding-bottom: -20px;
}

 /* Style for Search Loaction */
.search{
  width: 30%;
  margin-top: -15px;
}

.filter{
  color: rgb(70, 60, 3);
  display: flex;
  flex-direction: column;
  margin-left: 12px;
 
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  font-size: 14px;
  
}

/* Styles for filter headings */
.filter-title, .result-title{
  font-family: monospace;
  padding-top: 8px;
  margin-bottom: -9px;
}


/*Styles for all Filters except Stay type */

.filter-section{
  position: absolute;
  width: 20%;
  align-items: left;
  padding-left: 8px;
}
.container{
  margin-left: -8px;
}
.result-section{
  width: 65rem;
  margin-left: 225px;
}
.property-container{
  width: 100%;
  position: relative;
  margin-left: 2px;
  box-shadow: 0px 3px 1px 0px #110601f7;

}
.stays-filter{
  width: 18%;
  padding: 1px;
  margin-left: -8px;
}

#pgfor, #roomtype, #preferredfor, #housetype, #housefor{
  color: rgb(150, 5, 65);
  font-size: 18px;
  font-weight: 900;
  width: 190px;
  letter-spacing: 1px;
  text-align: left;
  padding: 1%;
  padding-left: 1px;
  margin-right: -15px;
}

.form-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
	margin:2px;
  padding-left: 0px;
  line-height: 2;
}

.form-box label input{
	display: none;
}
.form-box label {
	cursor: pointer;
  padding: 1px 15px;
	position: relative;
}
.form-box label .circle{
	height: 16px;
	width: 16px;
	border:2px solid #998f8f;
	border-radius: 50%;
	position: absolute;
	left:0.2px;
	top:5px;
	transition:.2s ease-in-out 0s;
}
.form-box label .circle::before{
	content: '';
	height: 12px;
	width: 12px;
	background-color: #043397;
	position: absolute;
	left:0px;
	top:0px;
	border-radius: 50%;
	transition: .2s ease-in-out 0s;
	transform: scale(0);
}
.form-box label span{
  width: 115px;
	font-size: 15px;
	color: rgb(92, 53, 2);
	display: flex;
  justify-content: space-around;
	transition:.2s ease-in-out 0s;
}
.form-box label input:checked + .circle{
	border-color:#df640b;
}
.form-box label input:checked + .circle::before{
	transform: scale(1);
}
.form-box label input:checked + .circle + span{
	color:#855207;
}

/* To keep filter items in order */
span.filter-type-name{
 min-width: 85px;
}

/* Responsive */
@media only screen and (max-width: 954px) {
 
  .form-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:2px;
    padding-left: 4px;
    line-height: 2;
  }
  .stays-filter{
    width: 25%;
    padding: 2px;
    margin-left: -14%;
  }
  #pgfor, #roomtype, #preferredfor, #housetype, #housefor{
    color: rgb(150, 5, 65);
    font-size: 18px;
    font-weight: 900;
    width: 150px;
    letter-spacing: 1px;
    padding-left: 0%;
    margin-right: -100px
  }
  .form-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    line-height: 2;
  }
  
}
@media only screen  and (max-width: 1270px) {
  .result-section{
    width: 80%;
    position: relative;
    margin-left: 190px;
    }
}
 @media only screen  and (max-width: 960px) {
  .result-section{
    width: 70%;
    position: relative;
    margin-left: 166px;
    }
}
@media only screen  and (max-width: 640px) {
  .result-section{
    width: 62%;
    position: relative;
    margin-left: 180px;
    }
    .location{
      display: flex;
      justify-content: center;
      margin: -20px;
      margin-right: -155px;
      padding: 0px 0px;
    }
    .top{
      width: 28%;
      margin-top: 34px;
      margin-left: -35px;
    }
}
@media only screen  and (max-width: 500px) {
  .result-section{
    width: 61%;
    position: relative;
    margin-left: 151px;
    }
    .filter-section{
      width: 195px;
      align-items: left;
    }
    .container{
      margin-left: -11px;
    }
    .location{
      display: flex;
      justify-content: flex-end;
      margin: -20px -5px;
      padding: 0px 0px;
    }
    .top{
      width: 48%;
      margin-top: 38px;
    }
    .search{
      width: 51%;
      padding: 0px;
    }
}

/* Single property */
.single-property{
  margin:12px 0.5px;
  border: 1px solid grey;
  /* box-shadow: 1px 1px 1px 1px gray; */
}